<footer class="bg-neutral-800 text-white">
    <div class="container max-w-screen-xl mx-auto px-4 py-8">
        <div class="flex justify-center space-x-8">
            {{ range .Site.Menus.footer }}
            <a href="{{ .URL }}" 
               class="text-white hover:text-gray-400 transition duration-200"
               {{ if hasPrefix .URL "http" }}target="_blank"{{ end }}>
                {{ .Name | safeHTML }}
            </a>
            {{ end }}
        </div>
    </div>
</footer>