{{ define "main" }}
{{ partial "hero" . }}
<article class="post">
    <div class="team-grid">
        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/mike-240x240.png" alt="Mike Lisi">
            </div>
            <div class="card-content">
                <h3>Mike Lisi</h3>
                <h4><i>@mikehacksthings</i></h4>
                <h4>President</h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/mikelisi/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/mikehacksthings" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        
        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/dsink-240x240.jpg" alt="Danielle Sink">
            </div>
            <div class="card-content">
                <h3>Danielle Sink</h3>
                <h4><i></i>@ds1nk</i></h4>
                <h4>Vice President</h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/dssink/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/ds1nk" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/billy-240x240.jpg" alt="Billy Giles">
            </div>
            <div class="card-content">
                <h3>Billy Giles</h3>
                <h4><i>@forktheplanet</i></h4>
                <h4>Treasurer</h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/wrgiles/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/forktheplanet" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/bryce-240x240.jpg" alt="Bryce Zuccharo">
            </div>
            <div class="card-content">
                <h3>Bryce Zuccharo</h3>
                <h4><i>@c4ch3c4d3</i></h4>
                <h4>Secretary</h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/brycezuccaro/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/c4ch3c4d3" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/cory-240x240.jpg" alt="Cory Wolff">
            </div>
            <div class="card-content">
                <h3>Cory Wolff</h3>
                <h4><i>@cwolff411</i></h4>
                <h4>Director of Workshops</h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/corywolff/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/cwolff411" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/krista-240x240.jpg" alt="Krista Theodore">
            </div>
            <div class="card-content">
                <h3>Krista Theodore</h3>
                <h4><i>@InfoSecOprah</i></h4>
                <h4>Director of Marketing</h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/kristamtheodore/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/@InfoSecOprah" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/brian-240x240.jpg" alt="Brian Sak">
            </div>
            <div class="card-content">
                <h3>Brian Sak</h3>
                <h4><i>@briansak</i></h4>
                <h4>Director of Logistics</h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/briansak/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/@briansak" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/filipi-240x240.jpg" alt="Filipi Peres">
            </div>
            <div class="card-content">
                <h3>Filipi Peres</h3>
                <h4><i>@FilipiPires                </i></h4>
                <h4>Director of Sponsors</h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/filipipires/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/@FilipiPires" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/michael-240x240.jpg" alt="Michael Donley">
            </div>
            <div class="card-content">
                <h3>Michael Donley</h3>
                <h4><i>@th3d00rman</i></h4>
                <h4>Director of Volunteers</h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/michael-donley-red-team-pentester-educator/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/@th3d00rman" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/troy-240x240.jpg" alt="Troy Fridley">
            </div>
            <div class="card-content">
                <h3>Troy Fridley</h3>
                <h4>&nbsp;</h4>
                <h4>Core Staff</h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/troy-fridley-54a9252/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/@th3d00rman" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/nate-240x240.jpg" alt="Nate Sanders">
            </div>
            <div class="card-content">
                <h3>Nate Sanders</h3>
                <h4><i>@mauvehead</i></h4>
                <h4>Core Staff</h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/sandersn/" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/greg-240x240.jpg" alt="Greg Oldham">
            </div>
            <div class="card-content">
                <h3>Greg Oldham</h3>
                <h4><i>@Hax4Coffee</i></h4>
                <h4>Core Staff</h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/greg-oldham-cfis/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/@hax4coffee" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/austin-240x240.jpg" alt="Austin Cundiff">
            </div>
            <div class="card-content">
                <h3>Austin Cundiff</h3>
                <h4><i>@sysdum</i></h4>
                <h4>Core Staff</h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/austin-cundiff-7b015811a/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/@sysdum" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        
        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/jon-240x240.jpg" alt="Jon Kim">
            </div>
            <div class="card-content">
                <h3>Jon Kim</h3>
                <h4><i>@j0nk1m</i></h4>
                <h4>Core Staff</h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/jonathanskim/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/@j0nk1m" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/omar-240x240.jpg" alt="Omar Santos">
            </div>
            <div class="card-content">
                <h3>Omar Santos</h3>
                <h4><i>@Ωr</i></h4>
                <h4>Village Advisor</h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/santosomar/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/santosomar" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/barret-240x240.jpg" alt="Barrett Darnell">
            </div>
            <div class="card-content">
                <h3>Barrett Darnell</h3>
                <h4><i>@pwneip</i></h4>
                <h4>Village Advisor</h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/barrettdarnell/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/pwneip" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/savannah-240x240.jpg" alt="Savannah Lazzarra">
            </div>
            <div class="card-content">
                <h3>Savannah Lazzara</h3>
                <h4><i>@lazzslayer</i></h4>
                <h4>Village Advisor </h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/savannahlazzara/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/lazzslayer" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="team-card">
            <div class="card-image">
                <img src="../assets/images/wes-240x240.jpg" alt="Wes Thurner">
            </div>
            <div class="card-content">
                <h3>Wes Thurner</h3>
                <h4><i>@nopresearcher</i></h4>
                <h4>Village Advisor</h4>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/wesleythurner/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/nopresearcher" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>


    <style>
    .team-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    .team-card {
        background: #690d0d;
        border: 1px solid #e5e5e5;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        transition: transform 0.2s;
    }

    .team-card:hover {
        transform: translateY(-4px);
    }

    .card-image {
        padding: 1.5rem;
        display: flex;
        justify-content: center;
    }

    .card-image img {
        width: 192px;
        height: 192px;
        object-fit: cover;
        border-radius: 8px;
    }

    .card-content {
        padding: 1.5rem;
    }

    .card-content h3 {
        margin: 0;
        font-size: 1.5rem;
        color: #ffffff;
    }

    .card-content h4 {
        margin: 0.5rem 0;
        color: #ffffff;
        font-size: 1.1rem;
    }

    .card-content p {
        margin: 1rem 0;
        color: #ffffff;
        line-height: 1.5;
    }

    .social-links {
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
    }

    .social-links a {
        color: #ffffff;
        font-size: 1.25rem;
        transition: color 0.2s;
    }

    .social-links a:hover {
        color: #2563eb;
    }

    @media (max-width: 1024px) {
        .team-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 640px) {
        .team-grid {
            grid-template-columns: 1fr;
            padding: 1rem;
        }
    }
    </style>
</article>
{{ end }} 